

.cabeçalho{
    font-size: 30px;
    padding-left: 20px;

}

.Principal{

    background-color: #cccc;
    padding: 30px;
}

#banner{

    width: 100%;

}



h1{

    text-align: center;
    
}

p {
    
    text-align: center;

}

#p2{

    font-size: 20px;

}

h2{

    text-align: center;

}

em strong{

    color: red;

}

.Beneficios{

    background-color: #FFFF;
    padding: 5%;
}


.Itens{

    font-style: italic;

}

#projeto{

    width: 50%;

}

ul{

    display: inline-block;
    vertical-align: top;
    width: 30%;
    
   

}

    

